    p {
        font-family: Arial, Helvetica, sans-serif;
    }

    p:hover {
         font-size: large;
    }

    img:hover {
        background-color: blueviolet;
    }

    .veggy {
        background-color: #FFB344;
    }

    .avocado {
        background-color: #00A19D;
    }

    .circular {
        border-radius: 100%;
    }

    #heading {
        color: #FFB344;
        font-family: Arial, Helvetica, sans-serif;
    }

    #heading:hover {
        color: aqua;
    }